flows_weather.json
[{"id":"214e01ec.b1d5ce","type":"tab","label":"Rainfall","disabled":false,"info":""},{"id":"f87c8425.53b84","type":"tab","label":"Air Quality","disabled":false,"info":""},{"id":"9a64a602.966d18","type":"tab","label":"Radiation","disabled":false,"info":""},{"id":"b05c8550.6835a","type":"tab","label":"Map","disabled":false,"info":""},{"id":"f9b05ac4.9db718","type":"tab","label":"Basic Weather","disabled":false,"info":""},{"id":"ecc26120.5c01a8","type":"mongodb3","uri":"mongodb://localhost:27017","name":"HKO","options":"","parallelism":"-1"},{"id":"4921adae.55bbbc","type":"ui_group","name":"Rainfall","tab":"154c41cd.15667e","order":3,"disp":true,"width":30,"collapse":true},{"id":"e9f24978.c8dae8","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#000000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"HKSTP","default":"#4B7930","baseColor":"#371a95","baseFont":"Arial,Arial,Helvetica,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":true},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":true},"widget-backgroundColor":{"value":"#097479","edited":true},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Environment Weather","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":28,"sy":36,"gx":10,"gy":10,"cx":10,"cy":15,"px":0,"py":0}}},{"id":"154c41cd.15667e","type":"ui_tab","name":"Environment Weather","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"54a09d06.0ae904","type":"ui_group","name":"Radiation & Air Quality","tab":"154c41cd.15667e","order":2,"disp":true,"width":"30","collapse":true},{"id":"13c6869.ea66c79","type":"ui_link","name":"Weather Maps","link":"http://localhost:1880/maps","icon":"open_in_browser","target":"newtab","order":2},{"id":"82cb5a93.32b808","type":"ui_group","name":"Basic Weather Information","tab":"154c41cd.15667e","order":1,"disp":true,"width":"30","collapse":true},{"id":"ac486dc6.ce26b","type":"mongodb3","uri":"mongodb://localhost:27017","name":"group project","options":"","parallelism":"-1"},{"id":"a4cf4875.df6788","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":2,"width":4,"height":1},{"id":"5362ca68.77d594","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":4,"width":1,"height":1},{"id":"c0e05407.816d1","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":6,"width":1,"height":1},{"id":"a2c9334b.bfa858","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":8,"width":6,"height":1},{"id":"9e154271.2fdf88","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":9,"width":4,"height":1},{"id":"1f99eb5d.727095","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":10,"width":1,"height":1},{"id":"ca5a93c3.fac3","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":11,"width":1,"height":1},{"id":"e85a5093.2ddaa8","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":12,"width":6,"height":1},{"id":"fcaa3e0e.f065c","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":13,"width":4,"height":1},{"id":"db45bed6.7790a8","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":14,"width":1,"height":1},{"id":"e686368d.1aa92","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":15,"width":1,"height":1},{"id":"9f56e4f1.47fc98","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":16,"width":6,"height":1},{"id":"b330d8bd.07ea8","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":18,"width":1,"height":1},{"id":"9abf6c6e.1e0e88","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":20,"width":4,"height":1},{"id":"339f8ad7.9bd086","type":"ui_spacer","name":"spacer","group":"82cb5a93.32b808","order":21,"width":4,"height":1},{"id":"3d252e00.719972","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":3,"width":1,"height":1},{"id":"986ea8be.a720d","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":4,"width":1,"height":1},{"id":"7ae95dd.598b8a4","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":5,"width":1,"height":1},{"id":"12b03b6c.00a125","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":6,"width":1,"height":1},{"id":"38ff2957.f5c0f6","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":7,"width":1,"height":1},{"id":"9acac434.12c048","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":8,"width":7,"height":1},{"id":"546162a.de0c21c","type":"ui_spacer","name":"spacer","group":"54a09d06.0ae904","order":9,"width":1,"height":1},{"id":"50a0dc28.a95074","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":2,"width":1,"height":1},{"id":"75617013.256838","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":3,"width":1,"height":1},{"id":"18365073.4fd048","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":4,"width":1,"height":1},{"id":"7cb3065c.3f816","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":5,"width":1,"height":1},{"id":"2b67673c.7064c","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":6,"width":1,"height":1},{"id":"137142b2.aa42ad","type":"ui_spacer","name":"spacer","group":"4921adae.55bbbc","order":7,"width":1,"height":1},{"id":"4ef51b3e.8874ac","type":"mongodb3 in","z":"214e01ec.b1d5ce","service":"_ext_","configNode":"ecc26120.5c01a8","name":"","collection":"Rainfall Report","operation":"insert","x":480,"y":360,"wires":[["bee8dc31.bf002"]]},{"id":"7d79a490.11c5d4","type":"mongodb3 in","z":"214e01ec.b1d5ce","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Last Record","collection":"Rainfall Report","operation":"findOne","x":423,"y":145,"wires":[["9e0e9c42.1a65b"]]},{"id":"cdcc20b1.1d83a","type":"inject","z":"214e01ec.b1d5ce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":137,"y":145,"wires":[["e5ed62aa.26f2e8"]]},{"id":"e5ed62aa.26f2e8","type":"function","z":"214e01ec.b1d5ce","name":"Retrieve Last Record Query","func":"msg.payload = [\n    {\n        \"$query\": {}\n    },\n    {\n        \"sort\": {\n            \"_id\": -1\n        }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":281,"y":212,"wires":[["7d79a490.11c5d4"]]},{"id":"9e0e9c42.1a65b","type":"function","z":"214e01ec.b1d5ce","name":"Get Last updateTime","func":"if(msg.payload.hasOwnProperty('updateTime')) {\n    flow.set('lastUpdateTime', msg.payload.updateTime);\n} else {\n    flow.set('lastUpdateTime', \"\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":579,"y":212,"wires":[["43287d00.d62254"]]},{"id":"43287d00.d62254","type":"http request","z":"214e01ec.b1d5ce","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread&lang=en","tls":"","persist":false,"proxy":"","authType":"","x":232,"y":268,"wires":[["d21ecde6.c5cb8"]]},{"id":"d21ecde6.c5cb8","type":"json","z":"214e01ec.b1d5ce","name":"","property":"payload","action":"","pretty":false,"x":381,"y":268,"wires":[["10a28e4e.74e74a"]]},{"id":"10a28e4e.74e74a","type":"function","z":"214e01ec.b1d5ce","name":"New Record Available","func":"lastUpdateTime = flow.get('lastUpdateTime');\n\nvar updateTimeTemp = new Date(msg.payload.updateTime)\nvar updateTime = updateTimeTemp.toISOString() ;\n\nif(updateTime > lastUpdateTime) {\n    msg.needUpdate = true ;\n    msg.payload.updateTime = updateTime ;\n} else {\n    msg.needUpdate = false ;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":576,"y":268,"wires":[["e81240f3.4df5b8"]]},{"id":"e81240f3.4df5b8","type":"switch","z":"214e01ec.b1d5ce","name":"Need Update","property":"needUpdate","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":241,"y":325,"wires":[["e0553f8.c6393c"],["4ef51b3e.8874ac"]]},{"id":"e0553f8.c6393c","type":"function","z":"214e01ec.b1d5ce","name":"No Update","func":"msg.payload = \"No Update\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":432,"y":318,"wires":[[]]},{"id":"bee8dc31.bf002","type":"debug","z":"214e01ec.b1d5ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":704,"y":360,"wires":[]},{"id":"b4c4333e.d4798","type":"mongodb3 in","z":"214e01ec.b1d5ce","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Records","collection":"Rainfall Report","operation":"findOne","x":620,"y":500,"wires":[["72d6004a.ed9268"]]},{"id":"72d6004a.ed9268","type":"function","z":"214e01ec.b1d5ce","name":"Format Chart Data","func":"var rainfallDataArray = msg.payload;\n\nvar i;\n\nvar placeDataArray = [];\nvar rf =[];\nvar count=0;\n\nfor(i = 0; i <rainfallDataArray.rainfall.data.length; i++) {\n        if(rainfallDataArray.rainfall.data[i].main==\"FALSE\"){\n            //var str=rainfallDataArray[0].rainfall.data[i].place.replace(\"District\",\"\");\n            placeDataArray[count]=rainfallDataArray.rainfall.data[i].place.replace(\"District\",\"\").replace(\" &amp;\",\"&\").split(\" \");\n            rf[count]=rainfallDataArray.rainfall.data[i].max;\n            count++;\n        }\n            \n    }\n    \n\n\n\nmsg.payload =[{\n  \"series\":\"\",\n    \"data\": [ rf ],\n    \"labels\":placeDataArray\n}];\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":229.5,"y":573,"wires":[["88046d5f.9f797"]]},{"id":"3f7f7ede.f078c2","type":"inject","z":"214e01ec.b1d5ce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":121,"y":447,"wires":[["4e8ace5e.be009"]]},{"id":"6e47620f.a2e9c4","type":"debug","z":"214e01ec.b1d5ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":555,"y":630,"wires":[]},{"id":"88046d5f.9f797","type":"ui_chart","z":"214e01ec.b1d5ce","name":"","group":"4921adae.55bbbc","order":1,"width":29,"height":6,"label":"Rainfall Chart","chartType":"bar","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"-1","ymax":"7","removeOlder":"24","removeOlderPoints":"24","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":500,"y":580,"wires":[["6e47620f.a2e9c4"]]},{"id":"dffa100d.b2b388","type":"mongodb3 in","z":"f87c8425.53b84","service":"_ext_","configNode":"ecc26120.5c01a8","name":"","collection":"Air Report","operation":"insert","x":360,"y":300,"wires":[["a1f5e4b3.119798"]]},{"id":"5b13d059.2330b","type":"mongodb3 in","z":"f87c8425.53b84","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Last Record","collection":"Air Report","operation":"findOne","x":380,"y":40,"wires":[["f825591a.ef1938"]]},{"id":"b3d96d76.1741a8","type":"inject","z":"f87c8425.53b84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":110,"y":40,"wires":[["707be3a1.2ecd34"]]},{"id":"707be3a1.2ecd34","type":"function","z":"f87c8425.53b84","name":"Retrieve Last Record Query","func":"msg.payload = [\n    {\n        \"$query\": {}\n    },\n    {\n        \"sort\": {\n            \"_id\": -1\n        }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":100,"wires":[["5b13d059.2330b"]]},{"id":"f825591a.ef1938","type":"function","z":"f87c8425.53b84","name":"Get Last updateTime","func":"\nif(msg.payload.hasOwnProperty('update_time')) {\n    flow.set('lastPublish_date', msg.payload.update_time);\n} else {\n    flow.set('lastPublish_date', \"\");\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":100,"wires":[["29831396.d41284"]]},{"id":"29831396.d41284","type":"http request","z":"f87c8425.53b84","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dashboard.data.gov.hk/api/aqhi-individual?format=json","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":180,"wires":[["ad9a8fb2.89df08"]]},{"id":"ad9a8fb2.89df08","type":"json","z":"f87c8425.53b84","name":"","property":"payload","action":"","pretty":false,"x":270,"y":180,"wires":[["a479c7a0.d447a"]]},{"id":"a1f5e4b3.119798","type":"debug","z":"f87c8425.53b84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"169bcd74.8d433b","type":"mongodb3 in","z":"f87c8425.53b84","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Records","collection":"Air Report","operation":"find.toArray","x":480,"y":500,"wires":[["ba937923.3e8328"]]},{"id":"ba937923.3e8328","type":"function","z":"f87c8425.53b84","name":"Format Chart Data","func":"var airDataArray = Object.values(msg.payload) ;\n\nvar dataCount = airDataArray.length ;\n\nvar i, j ;\n\nvar placeDataArray = {} ;\n\n\nfor(j = 0; j < dataCount; j++) {\n    for(i = 0; i < airDataArray[j].air.data.length; i++) {\n        if(!placeDataArray.hasOwnProperty(airDataArray[j].air.data[i].station)) {\n            placeDataArray[airDataArray[j].air.data[i].station] = [] ;\n        }\n        placeDataArray[airDataArray[j].air.data[i].station].push({\"x\": new Date(airDataArray[j].update_time), \"y\": airDataArray[j].air.data[i].aqhi});\n    }\n}\n\nvar chartData = [{\"series\": Object.keys(placeDataArray), \"data\": Object.values(placeDataArray), \"labels\": \"\"}];\n\nmsg.payload = chartData ;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":293.5,"y":586,"wires":[["13b34c27.bbd5c4"]]},{"id":"13b34c27.bbd5c4","type":"ui_chart","z":"f87c8425.53b84","name":"","group":"54a09d06.0ae904","order":2,"width":22,"height":6,"label":"Air Quality Health Index Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":609,"y":587,"wires":[["bc353288.17b1"]]},{"id":"c3dec42f.9fa718","type":"inject","z":"f87c8425.53b84","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":130,"y":380,"wires":[["9d7fe6ef.fc516"]]},{"id":"bc353288.17b1","type":"debug","z":"f87c8425.53b84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":619,"y":643,"wires":[]},{"id":"df498967.87f558","type":"function","z":"f87c8425.53b84","name":"New Record Available","func":"lastPublish_date = flow.get('lastPublish_date');\n\nvar publish_dateTemp = new Date(msg.payload.update_time)\nvar publish_date = publish_dateTemp.toISOString() ;\n\nif(publish_date > lastPublish_date) {\n    msg.needUpdate = true ;\n    msg.payload.update_time=publish_date;\n} else {\n    msg.needUpdate = false ;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[["5d6db8e2.164868"]]},{"id":"5d6db8e2.164868","type":"switch","z":"f87c8425.53b84","name":"Need Update","property":"needUpdate","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":240,"wires":[["118d12f5.d412dd"],["dffa100d.b2b388"]]},{"id":"118d12f5.d412dd","type":"function","z":"f87c8425.53b84","name":"No Update","func":"msg.payload = \"No Update\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[[]]},{"id":"a479c7a0.d447a","type":"function","z":"f87c8425.53b84","name":"convertion","func":"var airrDataArray = msg.payload;\nvar convert={\"air\":{\"data\":airrDataArray}};\n\n\nmsg.payload=convert;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":180,"wires":[["81226c6a.dba59"]]},{"id":"9d7fe6ef.fc516","type":"function","z":"f87c8425.53b84","name":"Construct Date Range","func":"var date = new Date();\nvar day = date.getDate() ;\nvar month = date.getMonth();\nvar year = date.getFullYear();\nvar hour = date.getHours();\nvar minutes = date.getMinutes();\nvar seconds = date.getSeconds();\nvar st, et ;\nvar minMilliSeconds = 60 * 1000;\nvar hourMilliSeconds = 60 * minMilliSeconds;\nvar dayMilliSeconds = 24 * hourMilliSeconds;\nvar duration = 1 * dayMilliSeconds;\n\net = new Date() ;\net.setSeconds(seconds/10*10);\net.setHours(hour+8);\nst = new Date() ;\nst.setHours(hour+8);\nst.setTime(et.getTime() - duration);\n\nmsg.startTime = st ;\nmsg.endTime = et ;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":480,"wires":[["79d5e1f8.50345"]]},{"id":"79d5e1f8.50345","type":"function","z":"f87c8425.53b84","name":"Construct Queries","func":"var st = msg.startTime;\nvar et = msg.endTime;\n\nvar stts = st.getTime();\nvar etts = et.getTime();\n\nvar ststr=st.toISOString();\nvar etstr=et.toISOString();\n\nvar query = { \"update_time\": { $gt: ststr, $lt: etstr} };\n\nmsg.payload = query;\nmsg.ststr = ststr ;\nmsg.etstr = etstr ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["169bcd74.8d433b"]]},{"id":"81226c6a.dba59","type":"function","z":"f87c8425.53b84","name":"add attribute","func":"var a=msg.payload;\nvar addtemp = new Date(msg.payload.air.data[0].publish_date);\nvar add=addtemp.toISOString();\n\na[\"update_time\"]=add;\n\nmsg.payload=a;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":140,"wires":[["df498967.87f558"]]},{"id":"4e8ace5e.be009","type":"function","z":"214e01ec.b1d5ce","name":"Retrieve Last Record Query","func":"msg.payload = [\n    {\n        \"$query\": {}\n    },\n    {\n        \"sort\": {\n            \"_id\": -1\n        }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":460,"wires":[["b4c4333e.d4798"]]},{"id":"deb9574e.7e3428","type":"mongodb3 in","z":"9a64a602.966d18","service":"_ext_","configNode":"ecc26120.5c01a8","name":"","collection":"RadiationReport","operation":"insert","x":560,"y":320,"wires":[["27a85490.e0e90c"]]},{"id":"f9c1cc7c.0582a8","type":"mongodb3 in","z":"9a64a602.966d18","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Last Record","collection":"RadiationReport","operation":"findOne","x":503,"y":105,"wires":[["61575d9.b3940a4"]]},{"id":"422dc123.4de11","type":"inject","z":"9a64a602.966d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":217,"y":105,"wires":[["b7ffd2cb.54d758"]]},{"id":"b7ffd2cb.54d758","type":"function","z":"9a64a602.966d18","name":"Retrieve Last Record Query","func":"msg.payload = [\n    {\n        \"$query\": {}\n    },\n    {\n        \"sort\": {\n            \"_id\": -1\n        }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":361,"y":172,"wires":[["f9c1cc7c.0582a8"]]},{"id":"61575d9.b3940a4","type":"function","z":"9a64a602.966d18","name":"Get Last updateTime","func":"if(msg.payload.hasOwnProperty('ReportTimeInfoDate')) {\n    msg.payload=\"you\";\n    flow.set('lastUpdateTime', msg.payload.ReportTimeInfoDate);\n} else {\n    flow.set('lastUpdateTime', \"\");\n     msg.payload=\"my\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":659,"y":172,"wires":[["e5ac2c8a.526008"]]},{"id":"38fad764.0cba7","type":"http request","z":"9a64a602.966d18","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://data.weather.gov.hk/weatherAPI/opendata/opendata.php?dataType=RYES&lang=en&date={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":220,"wires":[["41042052.2240f"]]},{"id":"41042052.2240f","type":"json","z":"9a64a602.966d18","name":"","property":"payload","action":"","pretty":false,"x":461,"y":228,"wires":[["ba9954fe.e62968"]]},{"id":"ba9954fe.e62968","type":"function","z":"9a64a602.966d18","name":"New Record Available","func":"lastUpdateTime = flow.get('lastUpdateTime');\n\nvar updateTime = msg.payload.ReportTimeInfoDate;\n\n\nif(updateTime > lastUpdateTime) {\n    msg.needUpdate = true ;\n}\n else{  \n    msg.needUpdate = false ;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":656,"y":228,"wires":[["3283d65e.333dea"]]},{"id":"3283d65e.333dea","type":"switch","z":"9a64a602.966d18","name":"Need Update","property":"needUpdate","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":321,"y":285,"wires":[["f8e15a22.f6428"],["deb9574e.7e3428"]]},{"id":"f8e15a22.f6428","type":"function","z":"9a64a602.966d18","name":"No Update","func":"msg.payload = \"No Update\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":280,"wires":[[]]},{"id":"27a85490.e0e90c","type":"debug","z":"9a64a602.966d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":784,"y":320,"wires":[]},{"id":"e1e878b9.a83f8","type":"mongodb3 in","z":"9a64a602.966d18","service":"_ext_","configNode":"ecc26120.5c01a8","name":"HKO Retrieve Records","collection":"RadiationReport","operation":"findOne","x":160,"y":480,"wires":[["aef7429d.d0e018"]]},{"id":"7ca32d3f.d2acbc","type":"inject","z":"9a64a602.966d18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":"1","topic":"Timer","payload":"","payloadType":"date","x":201,"y":407,"wires":[["3e68129a.e2359e"]]},{"id":"5920f23e.3c3f5c","type":"debug","z":"9a64a602.966d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":560,"wires":[]},{"id":"3e68129a.e2359e","type":"function","z":"9a64a602.966d18","name":"Retrieve Last Record Query","func":"msg.payload = [\n    {\n        \"$query\": {}\n    },\n    {\n        \"sort\": {\n            \"_id\": -1\n        }\n    }\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":400,"wires":[["e1e878b9.a83f8"]]},{"id":"e5ac2c8a.526008","type":"function","z":"9a64a602.966d18","name":"seQuery","func":"var dateTemp=new Date();\nvar dayTemp = dateTemp.getDate()-1;\nvar month = (dateTemp.getMonth()+1).toString();\nvar year = dateTemp.getFullYear().toString();\nvar day=dayTemp.toString();\n\nif(dayTemp<10){\n    day=\"0\"+day;\n}\n\n\nmsg.payload=year+month+day;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":220,"wires":[["38fad764.0cba7"]]},{"id":"78b57825.c0c268","type":"ui_text","z":"9a64a602.966d18","group":"54a09d06.0ae904","order":1,"width":7,"height":5,"name":"Radiation","label":"Radiation","format":"{{msg.payload}}","layout":"col-center","x":250,"y":560,"wires":[]},{"id":"aef7429d.d0e018","type":"function","z":"9a64a602.966d18","name":"","func":"msg.payload=msg.payload.HongKongDesc;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":480,"wires":[["78b57825.c0c268","5920f23e.3c3f5c"]]},{"id":"dd84cc04.dc3d8","type":"maps","z":"b05c8550.6835a","name":"","path":"maps","maptitle":"Map title","x":630,"y":180,"wires":[["b3fd5af5.348468"]]},{"id":"1741a50c.73cfcb","type":"http request","z":"b05c8550.6835a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":180,"wires":[["a17535bd.f05328"]]},{"id":"68fc4b45.099204","type":"inject","z":"b05c8550.6835a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":80,"wires":[["1741a50c.73cfcb"]]},{"id":"a17535bd.f05328","type":"function","z":"b05c8550.6835a","name":"","func":"data=msg.payload.temperature.data\nrainfall=msg.payload.rainfall.data\n\ndataset=[]\ndata.forEach((item,index,array)=>{\n   if (location[item.place]){\n       temp={\n                    \"lat\": location[item.place].lng,\n                    \"lon\": location[item.place].lat,\n                    \"name\": item.place,\n                    \"description\": item.place,\n                    \"value\": item.value,\n                    \"unit\": \"℃\",\n                    \"iconColor\": \"Yellow\"\n                }\n       dataset.push(temp)\n   }\n})\n\nrainfall.forEach((item,index,array)=>{\n   if (location[item.place]){\n       temp={\n                    \"lat\": location[item.place].lng,\n                    \"lon\": location[item.place].lat,\n                    \"name\": item.place,\n                    \"description\": \"rainfall \"+item.place,\n                    \"value\": \"\"+item.max+\"\",\n                    \"unit\": \"mm\",\n                    \"iconColor\": \"blue\"\n                }\n       dataset.push(temp)\n   }\n})\n\n\nmsg.payload=[\n    {\n        \"channel\": \"TEMP\",\n        \"dataset\": dataset\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"// 部署节点后，此处添加的代码将运行一次。 \nlocation=\n{\n    \"King's Park\":{\n        \"lng\":22.3111031,\n        \"lat\":114.1712442\n    },\n    \"Hong Kong Observatory\":{\n        \"lng\":22.3022564,\n        \"lat\":114.1719627\n    },\n    \"Wong Chuk Hang\":{\n        \"lng\":22.2391622,\n        \"lat\":114.1612247\n    },\n    \"Ta Kwu Ling\":{\n        \"lng\":22.5468575,\n        \"lat\":114.1467588\n    },\n    \"Lau Fau Shan\":{\n        \"lng\":22.4681707,\n        \"lat\":113.9669794\n    },\n    \"Tai Po\":{\n        \"lng\":22.445909,\n        \"lat\":114.1462521\n    },\n    \"Sha Tin\":{\n        \"lng\":22.3887371,\n        \"lat\":114.1820634\n    },\n    \"Tuen Mun\":{\n        \"lng\":22.3953899,\n        \"lat\":113.8965624\n    },\n    \"Tseung Kwan O\":{\n        \"lng\":22.3076227,\n        \"lat\":114.2516125\n    },\n    \"Sai Kung\":{\n        \"lng\":22.4079724,\n        \"lat\":114.2468079\n    },\n    \"Cheung Chau\":{\n        \"lng\":22.209532,\n        \"lat\":114.0117141\n    },\n    \"Chek Lap Kok\":{\n        \"lng\":22.307099,\n        \"lat\":113.9017574\n    },\n    \"Tsing Yi\":{\n        \"lng\":22.3444361,\n        \"lat\":114.0808219\n    },\n    \"Shek Kong\":{\n        \"lng\":22.429598,\n        \"lat\":114.0681678\n    },\n    \"Tsuen Wan Ho Koon\":{\n        \"lng\":22.383726,\n        \"lat\":114.1057233\n    },\n    \"Tsuen Wan Shing Mun Valley\":{\n        \"lng\":22.374817,\n        \"lat\":114.1237693\n    },\n    \"Hong Kong Park\":{\n        \"lng\":22.27651,\n        \"lat\":114.1573743\n    },\n    \"Shau Kei Wan\":{\n        \"lng\":22.2787251,\n        \"lat\":114.2220546\n    },\n    \"Kowloon City\":{\n        \"lng\":22.3219416,\n        \"lat\":114.1718193\n    },\n    \"Happy Valley\":{\n        \"lng\":22.2698827,\n        \"lat\":114.1752625\n    },\n    \"Wong Tai Sin\":{\n        \"lng\":22.3420454,\n        \"lat\":114.1898863\n    },\n    \"Stanley\":{\n        \"lng\":22.2213164,\n        \"lat\":114.2047033\n    },\n    \"Kwun Tong\":{\n        \"lng\":22.3120022,\n        \"lat\":114.2149615\n    },\n    \"Sham Shui Po\":{\n        \"lng\":22.3290605,\n        \"lat\":114.1478785\n    },\n    \"Kai Tak Runway Park\":{\n        \"lng\":22.3048553,\n        \"lat\":114.2142191\n    },\n    \"Yuen Long Park\":{\n        \"lng\":22.4417892,\n        \"lat\":114.0165956\n    },\n    \"Tai Mei Tuk\":{\n        \"lng\":22.4734378,\n        \"lat\":114.2312952\n    },\n    \"Central & Western District\":{\n        \"lng\":22.2724542,\n        \"lat\":114.1175774\n    },\n    \"Eastern District\":{\n        \"lng\":22.2756223,\n        \"lat\":114.1884734\n    },\n    \"Kwai Tsing\":{\n        \"lng\":22.3534098,\n        \"lat\":114.0783234\n    },\n    \"Islands District\":{\n        \"lng\":22.354318,\n        \"lat\":113.8600486\n    },\n    \"North District\":{\n        \"lng\":22.5124074,\n        \"lat\":114.083108\n    },\n    \"Southern District\":{\n        \"lng\":22.239471,\n        \"lat\":114.118719\n    },\n    \"Tsuen Wan\":{\n        \"lng\":22.3707241,\n        \"lat\":114.0862009\n    },\n    \"Wan Chai\":{\n        \"lng\":22.2773398,\n        \"lat\":114.1652481\n    },\n    \"Yuen Long\":{\n        \"lng\":22.4458108,\n        \"lat\":113.9967013\n    },\n    \"Yau Tsim Mong\":{\n        \"lng\":22.3099306,\n        \"lat\":114.1500914\n    }\n}","finalize":"","x":470,"y":180,"wires":[["dd84cc04.dc3d8"]]},{"id":"b3fd5af5.348468","type":"debug","z":"b05c8550.6835a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":180,"wires":[]},{"id":"48488ac1.39c164","type":"inject","z":"f9b05ac4.9db718","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":true,"onceDelay":0.1,"topic":"Timer","payload":"","payloadType":"date","x":170,"y":220,"wires":[["ebbbc61d.79c188"]]},{"id":"ff4ef4c.b68ed08","type":"function","z":"f9b05ac4.9db718","name":"temperature","func":"const temp=msg.payload.temperature.data[1].value;\n\nmsg.payload=temp;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":180,"wires":[["8229d57c.96dc48"]]},{"id":"ebbbc61d.79c188","type":"http request","z":"f9b05ac4.9db718","name":"get temperature","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread&lang=en","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":300,"wires":[["3f535bf4.5b5a64","ea2ba509.41abd8","ac0613d0.dbebe","f69f8ed0.2d893","ff4ef4c.b68ed08","57e91168.405fc"]]},{"id":"8229d57c.96dc48","type":"ui_gauge","z":"f9b05ac4.9db718","name":"","group":"82cb5a93.32b808","order":3,"width":6,"height":3,"gtype":"gage","title":"Temperature","label":"℃","format":"{{value}} ℃","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[],"icon":"font-awesome/fa-thermometer-1"},{"id":"eb2f924c.7d4af","type":"ui_gauge","z":"f9b05ac4.9db718","name":"","group":"82cb5a93.32b808","order":5,"width":6,"height":3,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":240,"wires":[]},{"id":"f69f8ed0.2d893","type":"function","z":"f9b05ac4.9db718","name":"humidity","func":"humid=msg.payload.humidity.data[0].value;\n\nmsg.payload=humid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":240,"wires":[["eb2f924c.7d4af"]]},{"id":"ea2ba509.41abd8","type":"function","z":"f9b05ac4.9db718","name":"uvindex","func":"if(msg.payload.uvindex.data[0].value){\n    uv=msg.payload.uvindex.data[0].value;\n}\nelse{\n    uv=0;\n}\n\n\nmsg.payload=uv;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":300,"wires":[["5759e8b5.c57478"]]},{"id":"5759e8b5.c57478","type":"ui_gauge","z":"f9b05ac4.9db718","name":"","group":"82cb5a93.32b808","order":7,"width":6,"height":3,"gtype":"gage","title":"Uvindex","label":"","format":"{{value}} ","min":0,"max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":300,"wires":[]},{"id":"1ac3bce2.c089b3","type":"mongodb3 in","z":"f9b05ac4.9db718","service":"_ext_","configNode":"ecc26120.5c01a8","name":"information stored","collection":"information","operation":"insertOne","x":590,"y":480,"wires":[["422ac855.ceb8e8"]]},{"id":"3f535bf4.5b5a64","type":"function","z":"f9b05ac4.9db718","name":"database","func":"const time=msg.payload.updateTime\n\nconst temp=msg.payload.temperature.data[1].value;\nconst humid=msg.payload.humidity.data[0].value;\n\nif(msg.payload.uvindex.data[0].value){\n    uv=msg.payload.uvindex.data[0].value;\n}\nelse{\n    uv=0;\n}\n\nmsg.payload={\n    time: time,\n    temperature:temp,\n    humid: humid,\n    uvindex: uv\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":420,"wires":[["1ac3bce2.c089b3"]]},{"id":"422ac855.ceb8e8","type":"debug","z":"f9b05ac4.9db718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":480,"wires":[]},{"id":"ac0613d0.dbebe","type":"function","z":"f9b05ac4.9db718","name":"uvindex","func":"time=msg.payload.updateTime;\na=time.substring(0,10);\nb=time.substring(11,19);\nupdate=a+\" \"+b;\nmsg.payload=update;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":360,"wires":[["6a3d4f70.d555b"]]},{"id":"6a3d4f70.d555b","type":"ui_text","z":"f9b05ac4.9db718","group":"82cb5a93.32b808","order":17,"width":29,"height":1,"name":"updateTime","label":"UpdateTime:           ","format":"{{msg.payload}}","layout":"row-left","x":730,"y":360,"wires":[]},{"id":"8b32f8e.3804c08","type":"inject","z":"f9b05ac4.9db718","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":40,"wires":[["72a841a5.42f7"]]},{"id":"38a4845b.d10dfc","type":"function","z":"f9b05ac4.9db718","name":"","func":"var d = new Date();\ncurrentDate = new Date();\ntmpHours = currentDate.getHours();\nvar time_zone = -d.getTimezoneOffset() / 60;\nif (time_zone < 0) {\n        time_zone = Math.abs(time_zone) + 8; \n        currentDate.setHours(tmpHours + time_zone);\n} \nelse{\n    //大于0的是东区  东区时间直接跟京八区相减\n    time_zone -= 8; \n    currentDate.setHours(tmpHours - time_zone);\n}\n\nnow=currentDate.toString();\n\ntime=msg.payload.updateTime;\na=time.substring(0,10);\nb=now.substring(16,24);\nupdate=a+\" \"+b;\n\nmsg.payload=update;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":100,"wires":[["b595550b.503858"]]},{"id":"b595550b.503858","type":"ui_text","z":"f9b05ac4.9db718","group":"82cb5a93.32b808","order":1,"width":30,"height":1,"name":"currentTime","label":"CurrentTime:           ","format":"{{msg.payload}}","layout":"row-left","x":670,"y":100,"wires":[]},{"id":"72a841a5.42f7","type":"http request","z":"f9b05ac4.9db718","name":"http request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=rhrread&lang=en","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":100,"wires":[["38a4845b.d10dfc"]]},{"id":"57e91168.405fc","type":"function","z":"f9b05ac4.9db718","name":"alert information","func":"var temperature=msg.payload.temperature.data[1].value;\nvar uvi=msg.payload.uvindex.data[0].value;\n\nvar alert=\"Tips:\";\nif(temperature<15){\n    alert=alert+\" It is cold today. It is recommended to wear coats, woolen coats, sweaters, sweaters and other clothing; for the weak, thick coats and sweaters are recommended.\";\n}else if(temperature<25){\n    alert=alert+\" The weather is fine during the day, so it is recommended to wear thin suits and other clothing. At night, the weather turns cooler, it is recommended to add more coats.\";\n}else{\n    alert=alert+\" The weather is hot today, so summer clothes such as short skirts, shorts, short coats, T-shirts are recommended.\";\n}\n\nif(uvi>=5&&uvi<=7){\n    alert=alert+\"The current UV intensity is level 3. It is recommended to take sun protection measures when going out, such as rubbing sunscreen and opening an umbrella.\";\n}\nif(uvi>7){\n    alert=alert+\"The current UV intensity is greater than level 3, and the UV is stronger. You should take sun protection measures when you go out and avoid prolonged outdoor exposure to prevent sun damage.\";\n}\n\nmsg.payload=alert;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":560,"wires":[["feaf1297.ca7a18"]]},{"id":"feaf1297.ca7a18","type":"ui_text","z":"f9b05ac4.9db718","group":"82cb5a93.32b808","order":19,"width":26,"height":2,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":730,"y":560,"wires":[]}]